* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-style: none;
    text-decoration: none;
}

body {
    background-color: #fff;
}
 /* Nav Bar Styling */

nav {
    top: 0;
    z-index: 9999;
    margin: 1vh 1.5vw;
    display: flex;
    align-items: center;
    position: sticky;
    width: 96.5vw;
    padding: 0 2vw 0 2vw;
    font-size: 30px;
    font-family: "Rubik Bubbles", system-ui;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.nav_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu_left {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

#menu_left ul {
    margin-left: 2vw;
    text-decoration: none;
    list-style: none;
}

#logo{
    margin-top: 1.5vh;
    margin-right: 2vw;
    width: 15vw;
    height: auto;
}

.border {
    display: flex;
    align-items: center;
    width: .2vw;
    height: 8vh;
    background-color: #B3907A;
}


.Sim_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.Sim_button p {
    width: 100%;
    background-color: #B3907A;
    padding: 1.5vh 1.5vw;
    border-radius: 30px;
    font-size: 40px;
    color: white;
    box-shadow: 6px 5px 4px 0px #C7A189 inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#menu_left .nav_choices {
    height: 100%;
}

nav ul, a{
    color: #B3907A;
    text-decoration: none;
    list-style: none;
}

.nav_choices a {
    padding: 4vh 0;
}

#dropdown {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 92%;
    width: fit-content;
    background-color: #F7EFE4;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    transform: translateY(10px);
    border-radius: 30px;
    box-shadow: 0px 0px 4px 5px #F5F2EC inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dropdown ul {
    margin: 0;
    padding: 2vh 1vw 3vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5vh;
}

/* Nav functions */

.nav_choices:hover > #dropdown,
.dropdown_link:hover > #dropdown {
    transform: translateY(0, 0);
    opacity: 1;
    pointer-events: auto;
}

/* Header Layout */

#main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 8vh auto;
    width: 90vw;
    height: 60vh;
    font-size: 30px;
    font-family: "Rubik Bubbles", system-ui;
}

#main_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40vw;
}

.reading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 5vh;
    color: #996B4E;
    font-size: 45px;
}

#description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 45vh;
}

.raise_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.raise_btn {
    display: flex;
    margin: 4.5vh auto;
    padding: 2vh 1vw;
    border-radius: 30px;
    background-color: #B3907A;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    font-style: none;
    box-shadow: 6px 5px 4px 0px #C7A189 inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#main_right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img {
    background-color: #E1CEC0;
    border-radius: 200px 30px 203px 93px;
    width: 45vw;
    height: 70vh;
    object-fit: cover;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25), 10px 10px 10px 0px #E1CEC0 inset;
}

/* Footer Layout */

footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 3vh;
    margin-top: 20vh;
    margin-left: 0;
    margin-right: 0;
    height: fit-content;
    width: 100vw;
    background-color: #B3907A;
}

#footer_left {
    width: 50%;
    height: 100%;
    margin-bottom: 2vh;
}

#footer_right {
    width: 50%;
    height: 100%;
}

.title {
    margin: 3vh 3vw;
    color: #fff;
    font-family: "Rubik Bubbles", system-ui;
    font-size: 80px;
}

footer p {
    margin-left: 7vw;
    margin-bottom: 5vh;
    color: #fff;
    font-family: "Chewy", system-ui;
    font-size: 45px;
}

#footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0 auto 5vw;
}

#footer_right div{
    display: flex;
    align-items: center;
}

#footer_right p{
    margin: 0;
    padding: 0;
    width: fit-content;
}


#footer_logo {
    width: 6vw;
    height: auto;
    margin-right: 2vw;
}
