* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-style: none;
    text-decoration: none;
}

body {
    background-color: #fff;
}
 /* Nav Bar Styling */

nav {
    top: 0;
    z-index: 9999;
    margin: 1vh 1.5vw;
    display: flex;
    align-items: center;
    position: sticky;
    width: 96.5vw;
    padding: 0 2vw 0 2vw;
    font-size: 30px;
    font-family: "Rubik Bubbles", system-ui;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.nav_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu_left {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

#menu_left ul {
    margin-left: 2vw;
    text-decoration: none;
    list-style: none;
}

#logo{
    margin-top: 1.5vh;
    margin-right: 2vw;
    width: 15vw;
    height: auto;
}

.border {
    display: flex;
    align-items: center;
    width: .2vw;
    height: 8vh;
    background-color: #B3907A;
}


.Sim_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.Sim_button p {
    width: 100%;
    background-color: #B3907A;
    padding: 1.5vh 1.5vw;
    border-radius: 30px;
    font-size: 40px;
    color: white;
    box-shadow: 6px 5px 4px 0px #C7A189 inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#menu_left .nav_choices {
    height: 100%;
}

nav ul, a{
    color: #B3907A;
    text-decoration: none;
    list-style: none;
}

.nav_choices a {
    padding: 4vh 0;
}

#dropdown {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 92%;
    width: fit-content;
    background-color: #F7EFE4;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    transform: translateY(10px);
    border-radius: 30px;
    box-shadow: 0px 0px 4px 5px #F5F2EC inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dropdown ul {
    margin: 0;
    padding: 2vh 1vw 3vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5vh;
}

/* Nav functions */

.nav_choices:hover > #dropdown,
.dropdown_link:hover > #dropdown {
    transform: translateY(0, 0);
    opacity: 1;
    pointer-events: auto;
}

/* main layout */

#pick_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto;
    width: 80vw;
    height: 80vh;
}

.big_box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 45px 30px;
    background-color: #E1CEC0;
    border-radius: 30px;
    box-shadow: 6px 5px 4px 0px #EEE6D9 inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.choice {
    display: flex;
    font-size: 90px;
    font-family: "Rubik Bubbles", system-ui;
    text-align: center;
    width: 35vw;
    background-color: #E1CEC0;
    color: #A47D64;
}

.small_boxes1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 65%;
    margin: 5vh 5vw 2vh 5vw;
}

.small_boxes2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: 2vh 15px;
}

#boxed_text {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 2vh 2vw;
    margin: auto;
    background-color: #E1CEC0;
    border-radius: 30px;
    box-shadow: 6px 5px 4px 0px #EEE6D9 inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-family: "Rubik Bubbles", system-ui;
    font-size: 45px;
    color: #A47D64;
    text-decoration: none;
}